<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/Hibernate_chapter</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">user</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <!--<property name="show_sql">true</property>-->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <mapping class="ru.job4j.carstorage.entities.Car"/>
        <mapping class="ru.job4j.carstorage.entities.User"/>
        <mapping class="ru.job4j.carstorage.entities.Image"/>
        <mapping class="ru.job4j.carstorage.entities.Comment"/>

        <mapping class="ru.job4j.todolist.entities.Task"/>
    </session-factory>
</hibernate-configuration>