<web-app>
    <servlet>
        <servlet-name>Adding</servlet-name>
        <servlet-class>ru.job4j.todolist.servlets.AddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Adding</servlet-name>
        <url-pattern>/adding</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>Completion</servlet-name>
    <servlet-class>ru.job4j.todolist.servlets.CompleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Completion</servlet-name>
        <url-pattern>/complete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manageCars</servlet-name>
        <servlet-class>ru.job4j.carstorage.servlets.ManageCarsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>manageCars</servlet-name>
        <url-pattern>/getUnsoldCars</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>currentCarGetter</servlet-name>
        <servlet-class>ru.job4j.carstorage.servlets.CarGetterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>currentCarGetter</servlet-name>
        <url-pattern>/getCar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CommentAdding</servlet-name>
        <servlet-class>ru.job4j.carstorage.servlets.CommentManageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CommentAdding</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>
</web-app>