<web-app>
    <servlet>
        <servlet-name>Adding</servlet-name>
        <servlet-class>ru.job4j.todolist.servlets.AddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Adding</servlet-name>
        <url-pattern>/adding</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>Completion</servlet-name>
    <servlet-class>ru.job4j.todolist.servlets.CompleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Completion</servlet-name>
        <url-pattern>/complete</url-pattern>
    </servlet-mapping>
</web-app>